[Unit]
Description=SPIRE Server Attestor SPIFFE workload api %i
After=network-online.target local-fs.target time-sync.target
Before=remote-fs-pre.target
Wants=network-online.target local-fs.target time-sync.target remote-fs-pre.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/lib/spire
RuntimeDirectory=spire/
RuntimeDirectoryPreserve=true
ConfigurationDirectory=spire
EnvironmentFile=-/etc/spiffe/default-trust-domain.env
Environment=SYSTEMD_INSTANCE=%i
Environment=SPIFFE_ENDPOINT_SOCKET=unix:///var/run/spire/agent/sockets/main/public/api.sock
ExecStartPre=/bin/bash -c "mkdir -p /var/run/spire/server-attestor-spiffe-workload-api/%i"
ExecStart=/usr/libexec/spire/spire-server-attestor-spiffe-workload-api /var/run/spire/server-attestor-spiffe-workload-api/main/socket
# https://gist.github.com/ageis/f5595e59b1cddb1513d1b425a323db04
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=false
# Needed by plugins
PrivateTmp=false
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadOnlyPaths=/
Restart=always
RestartSec=5s
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=yes
RestrictSUIDSGID=yes
TasksMax=infinity

[Install]
WantedBy=multi-user.target
